* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
}

div.contenedor {
    padding: 1rem 2rem;
}

header {
    background-color: green;
    border-bottom: 0.5rem solid lightgreen;
}

header h1 {
    text-align: center;
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

main h2 {
    margin: 1rem 0 1.5rem 0;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

main ul{
    margin: 2.5rem 0 2.5rem 2.5rem;
}

main li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: green;
    cursor: pointer;
}

main li {
    margin-bottom: 0.5rem;
    color: green;
}

footer {
    background-color: green;
    color: lightgreen;
    text-align: center;
    padding: 1.25rem 0;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;

}

